<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIRegisterURL</key>
	<string>http://probaairmcv.site40.net/mCV/mcvRegisterUser.php?userName=%@&amp;email=%@&amp;password=%@</string>
	<key>APILoginURL</key>
	<string>http://probaairmcv.site40.net/mCV/mcvLoginUser.php?userName=%@&amp;password=%@</string>
	<key>APIPostImageURL</key>
	<string>http://probaairmcv.site40.net/mCV/userImages/0mCVimageUploadSaveToDBlink.php?userImageNameID=%@_%@.jpg&amp;userID=%@</string>
	<key>APIGetImageURL</key>
	<string>http://probaairmcv.site40.net/mCV/userImages/0mcvGetUserImg.php?userID=%@</string>
	<key>APIGetJobsURL</key>
	<string>http://probaairmcv.site40.net/mCV/mcvGetJobs.php</string>
</dict>
</plist>
